.mapa{
  width: 100vw;
  height: 100vh;
}

.list-group{
  position: absolute;
  top: 132px;
  right: 40px;
  z-index: 5;
}

.form-control-color{
  position: absolute;
  top: 135px;
  right: 160px;
  z-index: 5;
}

.form-control-sm{
  position: absolute;
  width: 120px;
  top: 140px;
  right: 220px;
  z-index: 5;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  z-index: 2;
  color: #237e10;
  background-color: white;
  border-color: white;
}
